h1 {
  background-color: rgb(248, 72, 72);
  margin: 0%;
}

.bar {
  list-style-type: none;
  margin: 0%;
  
  padding: 0;
  overflow: hidden;
  background-color: #333;
  align-items: center;
  justify-items: center;
  text-align: center;
}

li {
  float: right;
  align-items: center;
  justify-items: center;
  text-align: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  align-items: center;
  justify-items: center;
  text-align: center;
}